{% extends 'admin/admin_login_base.html' %}

{% block title %}E-LAKO | ADMIN{% endblock %}

{########################################################################################################################################}

{% block content %}


    <main class="main" id="top">
      <div class="container">
           <form action="{{ url_for('admin_auth_bp.login') }}" method="POST">
                <div class="row flex-center min-vh-100 py-5">
                  <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="javascript:void(0);">
                      <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                          <img src="{{ url_for('static', filename='admin/assets/img/icons/logo.png')}}" alt="E-LAKO"/>
                      </div>
                    </a>
                    <div class="text-center mb-7">
                      <h3 class="text-1000">Admin </h3>
                      <p class="text-700">Get access to your Admin Account</p>
                    </div>
                     <!-- ========== Flash Message For Alert ========== -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                             {% if (category == "success") %}
                                  <div class="alert alert-soft-success alert-dismissible fade show pb-3 pt-3" role="alert">
                                    <strong><i class="fa-solid fa-circle-check text-sucess"></i> {{ message }}</strong>.
                                    <button class="btn-close p-3" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            {% else %}
                                  <div class="alert alert-soft-danger alert-dismissible fade show pb-3 pt-3" role="alert">
                                    <strong>{{ message }}</strong>.
                                    <button class="btn-close p-3" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}

                    <div class="mb-3 text-start"><label class="form-label" for="email">Email address</label>
                      <div class="form-icon-container"><input class="form-control form-icon-input" id="emailaddress" name="emailaddress" type="email" placeholder="name@example.com" /><span class="fas fa-user text-900 fs--1 form-icon"></span></div>
                    </div>
                    <div class="mb-3 text-start"><label class="form-label" for="password">Password</label>
                      <div class="form-icon-container"><input class="form-control form-icon-input" id="password" name="password" type="password" placeholder="Password" /><span class="fas fa-key text-900 fs--1 form-icon"></span></div>
                    </div>
                    <div class="row flex-between-center mb-7">
                      <div class="col-auto">
                        <div class="form-check mb-0"><input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" /><label class="form-check-label mb-0" for="basic-checkbox">Remember me</label></div>
                      </div>
                      <div class="col-auto"><a class="fs--1 fw-semi-bold" href="forgot-password.html">Forgot Password?</a></div>
                    </div>
                      <button class="btn btn-primary w-100 mb-3" type="submit">Sign In</button>
                  </div>
                </div>
           </form>
      </div>

    </main><!-- ===============================================-->


{% endblock %}

{########################################################################################################################################}

{# include the static css of page#}
{% block page_static_css %}

    <!-- rooms_view CSS -->
    <link rel="stylesheet" href="{{ url_for('admin_auth_bp.static', filename='css/auth_view.css') }}">

{% endblock %}

{# include the static js of page#}
{% block page_static_js %}

     <!-- rooms_view JS -->
    <script src="{{  url_for('admin_auth_bp.static', filename='js/auth_view.js') }}"></script>

{% endblock %}
