{% extends 'seller/seller_login_base.html' %}

{% block title %}ELAKO | SELLER{% endblock %}

{########################################################################################################################################}

{% block content %}
    <main class="main" id="top">
      <div class="container-fluid bg-300 dark__bg-1200">
        <div class="bg-holder bg-auth-card-overlay" style="background-image:url(url({{ url_for('static', filename='admin/assets/img/bg/37.png')}});"></div>
        <!--/.bg-holder-->
        <div class="row flex-center position-relative min-vh-100 g-0 py-5">
          <div class="col-11 col-sm-10 col-xl-8">
            <div class="card border border-200 auth-card">
              <div class="card-body pe-md-0">
                <div class="row align-items-center gx-0 gy-7">
                  <div class="col-auto bg-100 dark__bg-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                    <div class="bg-holder" style="background-image:url({{ url_for('static', filename='admin/assets/img/bg/38.png')}});"></div>
                    <!--/.bg-holder-->
                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 pb-md-7">
                      <h3 class="mb-3 text-black fs-1">Welcome to E-LAKO</h3>
                      <p class="text-700">Will help you to sell your product! </p>
                      <ul class="list-unstyled mb-0 w-max-content w-md-auto mx-auto">
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Fast</span></li>
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Simple</span></li>
                        <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-700 fw-semi-bold">Responsive</span></li>
                      </ul>
                    </div>
                    <div class="position-relative z-index--1 mb-6 d-none d-md-block text-center mt-md-15"><img class="auth-title-box-img d-dark-none" src="{{ url_for('static', filename='admin/assets/img/spot-illustrations/auth.png')}}" alt="" /><img class="auth-title-box-img d-light-none" src="../../../assets/img/spot-illustrations/auth-dark.png" alt="" /></div>
                  </div>
                  <div class="col mx-auto">
                    <div class="auth-form-box">
                      <div class="text-center mb-7"><a class="d-flex flex-center text-decoration-none mb-4" href="{{ url_for('w_home_bp.index') }}">
                          <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="{{ url_for('static', filename='admin/assets/img/icons/logo.png')}}" alt="E-LAKO"/></div>
                        </a>
                        <h3 class="text-1000">Sign In</h3>
                        <p class="text-700">Start sellling in E-LAKO</p>
                      </div>
{#                        <button class="btn btn-phoenix-secondary w-100 mb-3">#}
{#                            <span class="fab fa-google text-danger me-2 fs--1"></span>Sign in with google#}
{#                        </button>#}
{#                        <button class="btn btn-phoenix-secondary w-100">#}
{#                            <span class="fab fa-facebook text-primary me-2 fs--1"></span>Sign in with facebook#}
{#                        </button>#}

                                             <!-- ========== Flash Message For Alert ========== -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                             {% if (category == "success") %}
                                  <div class="alert alert-soft-success alert-dismissible fade show pb-3 pt-3" role="alert">
                                    <strong><i class="fa-solid fa-circle-check text-sucess"></i> {{ message }}</strong>.
                                    <button class="btn-close p-3" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            {% else %}
                                  <div class="alert alert-soft-danger alert-dismissible fade show pb-3 pt-3" role="alert">
                                    <strong>{{ message }}</strong>.
                                    <button class="btn-close p-3" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}

                    <form action="{{ url_for('seller_auth_bp.login') }}" method="POST">

                      <div class="mb-3 text-start"><label class="form-label" for="emailaddress">Email address</label>
                        <div class="form-icon-container"><input class="form-control form-icon-input" id="emailaddress" name="emailaddress" type="email" placeholder="name@example.com" /><span class="fas fa-user text-900 fs--1 form-icon"></span></div>
                      </div>
                      <div class="mb-3 text-start"><label class="form-label" for="password">Password</label>
                        <div class="form-icon-container"><input class="form-control form-icon-input" id="password" name="password" type="password" placeholder="Password" /><span class="fas fa-key text-900 fs--1 form-icon"></span></div>
                      </div>
                      <div class="row flex-between-center mb-7">
                        <div class="col-auto">
                          <div class="form-check mb-0"><input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" /><label class="form-check-label mb-0" for="basic-checkbox">Remember me</label></div>
                        </div>
                        <div class="col-auto"><a class="fs--1 fw-semi-bold" href="#">Forgot Password?</a></div>
                      </div><button class="btn btn-primary w-100 mb-3" type="submit">Sign In</button>

                      <div class="text-center"><a class="fs--1 fw-bold" href="#">Create an account</a></div>

                    </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}

{########################################################################################################################################}

{# include the static css of page#}
{% block page_static_css %}

    <!-- rooms_view CSS -->
    <link rel="stylesheet" href="{{ url_for('admin_auth_bp.static', filename='css/auth_view.css') }}">

{% endblock %}

{# include the static js of page#}
{% block page_static_js %}

     <!-- rooms_view JS -->
    <script src="{{  url_for('admin_auth_bp.static', filename='js/auth_view.js') }}"></script>

{% endblock %}
